$blue-1: #42b5e8;
$blue-2: #68c4ed;
$blue-3: #8dd3f1;
$blue-4: #b3e1f6;

$grey-1: #5b7f91;
$grey-2: #74879b;
$grey-3: #7f90a0;
$grey-4: #8696a6;

$green-1: #97e492;
$green-2: #ace9a9;
$green-3: #c1efbd;
$green-4: #d5f4d4;

$white-1: #F1F2F3;
$white-2: #EEEFF1;
$white-3: #efeeee;
$white-4: #e0e4e4;

$primary: $blue-1;
$secondary: $grey-4;
$info: $blue-3;
$success: $green-1;
$warning: rgb(179, 199, 4);
$danger: rgb(207, 56, 10);

$background: $white-1;