$pale-grey: #f5f6fa;
$grey: #888888;
$white-grey: #e8e8e8;
$light-grey: #c4c4c4;
$lighter-grey: #c7c7c7;

$black-two: #000000;
$black-one: #121212;

$white: #fafafa;
$all-white: #ffffff;

$signature-blue: #0290ff;
$dark-blue: #4386bf;

$primary: $signature-blue;
$secondary: $grey;

$info: $dark-blue;
$success: $dark-blue;