$content-width: 375px;
$content-height: 667px;

body {
  background-color: #eeeeee;

  .App {
    margin: 2rem auto;
    width: $content-width * 1.14;
    height: $content-height * 1.28;
    border: 5px solid $primary;
    border-radius: 50px;
    text-align: center;
    -webkit-box-shadow: 0px 1px 22px -1px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 1px 22px -1px rgba(0, 0, 0, 0.31);
    background-color: black;

    .App-display {
      width: $content-width;
      height: $content-height;
      border: 1px solid $grey-1;
      margin: 4.5rem auto 3.5rem auto;
      background-color: $background;

      .Login-page {
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;

        .App-logo {
          margin-bottom: 1.5rem;
          color: $blue-1;

          &>* {
            margin-bottom: 1rem;
          }

          h2 {
            font-family: 'Viga', sans-serif;
            font-size: 2.5rem;
            margin-bottom: 2rem;
          }

          i {
            font-size: 7rem;
          }

          h3 {
            font-style: italic;
            font-weight: 200;
          }

        }

        .Login-form {
          padding: 0 3rem;

          input {
            padding: 0.7rem;
            font-size: 0.9rem;
            border-radius: 5px;
            outline: none;
            border: 2px solid #efeeee;
            margin-bottom: 2rem;
            text-align: center;

            &:focus {
              border: 2px solid $green-2;
            }

            &:invalid {
              border: 2px solid $danger;
            }

          }

          button {
            background-color: $primary;
            font-size: 1rem;

            &:hover {
              background-color: $secondary;
            }
          }
        }

      }

      .App-page {
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;


        .App-header {
          padding: 1.2rem;
          background-color: $primary;
          color: #eeeeee;
          display: grid;
          grid-template-columns: 10% 80% 10%;
          align-items: center;

          .App-title {
            text-align: center;
            margin: 0 auto;
          }

          button {
            background-color: inherit;
            border: none;
            outline: none;
            color: $primary;

            &:hover {
              cursor: pointer;
              color: $grey-4;
            }
          }

        }

        .App-content {
          height: 100%;
          z-index: 98;

          .home-page {
            padding: 2rem;
          }

          .addData-page {
            padding: 2rem;
          }

          .records-page {

            .activity-record {
              display: flex;
              flex-flow: column;
              align-items: flex-start;

              .activity-date-title {
                padding: 0.6rem;
                font-size: 0.8rem;
                font-weight: 500;
              }

              .activity-data {
                width: 100%;
                padding: 0.5rem 0;
                background-color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .daily-goal {
                  margin-left: 1.5rem;
                  display: flex;
                  align-items: center;

                  .progress {
                    margin-right: 0.5rem;
                  }

                  .date {
                    font-size: 0.9rem;
                    font-weight: 600;
                  }
                }

                .activity-details {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: 36%;

                  .icon {
                    font-size: 1.1rem;
                    color: $white-1;
                  }

                  .amount {
                    font-size: 1rem;
                    font-weight: 500;

                    span {
                      margin-left: 0.2rem;
                      font-weight: 200;
                      font-size: 0.7rem;
                    }
                  }

                }

                .right-btn {
                  font-size: 1.1rem;
                  color: $white-1;
                  margin-right: 1rem;

                  &:hover {
                    cursor: pointer;
                    color: $grey-4;
                  }
                }

              }

            }

          }

          .progress-page {
            padding: 2rem;
          }

          .more-page {
            .profile-row {
              padding: 1rem;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              background-color: white;

              img {
                height: 50px;
                width: 50px;
                object-fit: cover;
                border-radius: 50%;
                border: 2px solid $primary;
                margin-right: 0.5rem;

                &:hover {
                  border-color: $success;
                  cursor: pointer;
                }
              }

              .name {
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.5rem;
              }

              .sex {
                color: $primary;
                font-size: 0.6rem;
                font-weight: 600;
                text-align: left;
              }

            }

            .menu-row {
              border-bottom: 1px solid $white-4;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding: 1.2rem;
              background-color: $white-2;

              p {
                margin-left: 1rem;
                font-size: 1rem;
                font-weight: 500;
              }

              &:hover {
                cursor: pointer;
                background-color: $white-1;
              }

            }

          }

        }

        .App-navbar {
          background-color: $grey-3;
          color: #eeeeee;
          display: flex;
          justify-content: space-around;
          z-index: 99;

          &>* {
            width: 25%;
            padding: 0.7rem;
            font-size: 0.7rem;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: space-around;

            .fas {
              margin-bottom: 0.5rem;
            }

            &:hover {
              cursor: pointer;
              background-color: $primary;
            }

          }
        }
      }



    }
  }
}