.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: block;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: flex-center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-end {
  justify-content: flex-end;
}