a {
  text-decoration: none;
  color: inherit;
}

strong {
  font-weight: 700;
}

code {
  font-family: 'Fira Code', monospace;
}

.text-center {
  text-align: center;
}

.text-indent {
  text-indent: 4rem;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-bold {
  font-weight: 700;
}

.font-italic {
  font-style: italic;
}